* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;

	background: #F8F8FF;
}

.header {
	width: 64%;
	margin: 50px auto 0px;
	color: white;
	background: #500AFF;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 64%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.menu{
	align: right;
	animation-fill-mode: backwards;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn:hover{
	opacity: 0.8;
	cursor: pointer;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.click:hover{
	opacity: 0.7;
	cursor: pointer;
}
.click :active{
	color: red;
}
.click{
	background:black ;
	color: white;
	border-radius: 4px;
	width:80px;
	height: 35px;
	float: right;
	border: 2px solid red;
	transition-delay: 0.3s;

}
textarea{
	width: 95%;
	border-radius: 10px;
}
#date-location { display: inline-block; position: absolute; left: 15px; top: 125px; text-align: left; background-color: #FFFFFF; border: 1px solid #006699; padding: 4px; z-index: 2; }

.date-font { color: #006699; font: 13px arial, sans-serif; font-weight: bold; }

.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success {
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.header-btn{
	width: 60%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 9px 9px;
	padding: 20px;
}
#wait:hover{
	cursor: wait;
}
select{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
